.show-prices {
  display: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

.table-prices {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

th {
  background-color: lime;
  border: 1px solid lime;
  min-width: 142px;
  max-width: 142px;
}
td {
  border: 1px solid #dddddd;
  min-width: 142px;
  max-width: 142px;
}
td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
